<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="session41_RetryFailedTestCases.RetryLinstener">		
		</listener>
	</listeners>
  <test thread-count="5" name="TestNG" parallel="tests">
    <classes>
      <class name="session41_RetryFailedTestCases.TestCasesExample"/>
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- Suite -->
