<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Marketplace Suite" parallel="methods" thread-count="2">
    <test name="Marketplace Parallel Classes">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="hybridFramework.testCases.FrameWork"/>
        </classes>
    </test>
</suite>